
body{
    background-color: rgb(255, 255, 255);
    border: 0%;
    padding: 0%;
    margin: 0%;
}
header{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: rgb(139, 134, 134);
    mix-blend-mode:multiply;
}
.logo{
    mix-blend-mode:multiply;
    width: 100%;
    margin: auto;
    display:block;
    overflow:hidden;
    grid-column: 3;

}
.fa-bars{
    grid-row: 4;
    margin: 1%;
}
nav{
    background-color: rgb(139, 134, 134);
    margin: 0%;
    z-index: 3;
}
.menu{
    background-color: #000;
    width: 35px;
    height: auto;
    float: left;
}
.navigation{

    z-index: 2;
    display: inline;
    width: 96%;
    height: 100%;
    margin-right: 2%;
    padding: 15px;
    border-radius: 15px;
}
ul {
    opacity: 100%;
    width: 12%;
    height: 80%;
    position: absolute;
    z-index: 2;
    border-radius: 3px;
    background-color:rgba(196, 173, 0) ;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin: 0px;
    text-align: center;

}
.hidden--mobile {
    display: none !important;
  }
li {
    ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.navBar{
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    display: inline;
    margin: 0px;
    padding: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-family: 'Oswald',sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}
.navBar:hover {
    background-color: rgb(66, 64, 64);
}
#main{
    display: block;
    z-index: 1;
    border: #000;
    border: 0%;
    padding: 0%;
    margin: 0%;
}
.pic{
    width: 90%;
    margin: 0px;
}
.fa-bars{
    margin: 1%;
}
#map{
    z-index: 1;
}

@media (min-width:850px) {
    .all{
    }

    .popImg{
        display:none;
        position: fixed;
        justify-self: center;
        align-self: center;
    }
    .navBar{
        padding-left: 3em;
        padding-right: 3em;
    }

    #imgTest{
        grid-column: 1 / 2;
        overflow: hidden ;
        width: 100%;
        height: 100%;
    }
    #imgOne{
        display: flex;
        grid-column: 1 / 2;
        overflow: hidden ;
        width: 100%;
        height: 100%;
        background-color: rgb(66, 64, 64);

    }
    #imgTwo{
        display: none;

    }

    .welcome{
        font-size: 22px;
        text-align: center;
        background-color: rgba(196, 173, 0, 0.845);
        padding: 1px;
        margin-top: 0px;
        margin-bottom:0px;
        margin-right: 0%;
        margin-left: 0%;
    }
    .page{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        height: 100%;

    }
    #map{
        width: 60%;
        height: 30%;
    }
    .content{
        overflow-y: scroll;
        grid-column: 2 /3;
        grid-row: 1 / 2;
        margin: 0%;
        width:100%;
        background-color: rgb(66, 64, 64);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }
    .picture > h2 {
        align-self: flex-start;
        background-color: #000;
        color: #ffffff;
        font-size: 2.2rem;
        margin: 0%;
        padding: 0%;
        margin-bottom: 10px;
        border-radius: 20px;
    }
    #ace{
        overflow-y: scroll;
        width: 100%;
        min-height: 100rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    #contact{
        display: flex;
        justify-content: center;
        overflow-y: scroll;
        width: 100%;
    }
    #form{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .icon{
        width: 10%;
        margin: 3%;

    }
    #photos{
        overflow-y: scroll;
        width: 100%;
        height: 50rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;

    }
    .holeOne{
        text-align: center;
        width: 18%;
        background-color: #d8d8d8;
        color: #000;
        margin: 5%;
        padding: 15px;
        border: #000;
        border-radius: 10px;
    }
    .picture{
        text-align: center;
        width: 18%;
        background-color: #d8d8d8;
        color: #000;
        margin: 5%;
        padding: 15px;
        border: #000;
        border-radius: 10px;
    }
    .input{
        margin: 2em;
    }
    .event{
        text-align: center;
        width: 40%;
        background-color: #d8d8d8;
        color: #000;
        padding: 15px;
        margin: 5%;
        border: #000;
        border-radius: 10px;
    }
    #inputform{
        margin: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mission   {
        color: #ffffff;
        bottom: 400px;
        margin-right: 10%;
        margin-left: 10%;
        font-size: 200%;
        display: flex;
    }
    #code{
        width:100%;
        height: auto;
        background-color: rgb(66, 64, 64);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .info{
        color: #000;
        font-size: 200%;
    }
    #thanks{
        position: fixed;
        display: block;
        background-color: aqua;
        height: ;
    }
    .conduct{
        margin-top: 0;
        text-align: center;
        width: 60%;
        height: auto;
        background-color: #d8d8d8;
        color: #000;
        padding:5%;
        border: #000;
        border-radius: 10px;
    }
    .foot{
        position: relative;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center ;
        background-color: rgba(196, 173, 0, 1);
        padding: 1px;
        margin-top: 0px;
        margin-bottom:0px;
        margin-right: 0%;
        margin-left: 0%;

    }

    #footLogo{
        width: 10%;
        height: auto;
        margin: 1%;
        mix-blend-mode:multiply;
    }
    #bottomLinks{
        margin:2%;
        width: 10%;
        height: 10%;
        font-size: 1.6rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }
    #bottomLinks > li{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position:relative;
    }
    .footBar{
        color:rgb(0, 0, 0);
        margin: 10%;
        padding: 10%;
        border-radius:3%;

    }
    .modal {
        display: none;
        justify-content: center;
        position: fixed;
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
      }

      /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    align-self: center;
}

    }


@media (max-width:849px) {
    ul {
        opacity: 100%;
        width: 50%;
        height: 100%;
        position: absolute;
        z-index: 2;
        border-radius: 3px;
        background-color:rgba(196, 173, 0) ;
        display: flex;
        justify-content: flex-start;
        align-items:flex-start;
        flex-direction: column;
        margin: 0px;
        text-align: center;

    }

    header{
        grid-template-columns: 20% 60% 20%;
        height: 7%;
        margin: 0%;
    }
    .logo{
        grid-column: 2/3;
        width: 100%;
        margin: 0%;
    }
    #imgOne{
        display: none;
    }
    #imgTwo{
        margin-top: 10%;
        padding: 3%;
        background-color: #d8d8d8;
        border-radius: 3%;
    }
    .navBar{
        width: 90%;
        height: 30%;
    }

    .welcome{

        font-size: 75%;
        text-align: center;
        background-color: rgba(196, 173, 0, 0.845);
        padding: 1px;
        margin-top: 0%;
        margin-bottom:0px;
        margin-right: 0%;
        margin-left: 0%;
    }
    .page{
        display: flex;
    }

    .image{
        width: 75%;
        height: auto;
        left: 0px;
        right: 0px;
        margin: 0px;
    }
    .content{
        width:100%;
        min-height: 1000px;
        background-color: rgb(66, 64, 64);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #map{
        width: 60%;
        height: 30%;
    }

    #ace{
        overflow-y: scroll;
        width: 100%;
        min-height: 100rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .holeOne{
        font-size: 2em;
        text-align: center;
        width: 75%;
        background-color: #d8d8d8;
        color: #000;
        margin: 5%;
        padding: 15px;
        border: #000;
        border-radius: 10px;
    }
    .event{
        margin: 5%;
        text-align: center;
        width: 60%;
        background-color: #d8d8d8;
        color: #000;
        padding: 15px;
        border: #000;
        border-radius: 10px;
    }
    .picture > h2 {
        align-self: flex-start;
        background-color: #000;
        color: #ffffff;
        font-size: 1em;
        margin: 0%;
        padding: 0%;
        margin-bottom: 10px;
        border-radius: 20px;
    }
    #photos{
        width: 100%;
        height: 50rem;
        flex-direction: column;
        justify-content: flex-start;


    }

    .picture{
        text-align: center;
        width: 50%;
        background-color: #d8d8d8;
        color: #000;
        margin: 10%;
        padding:3%;
        border: #000;
        border-radius: 10px;
    }
    .mission   {
        color: #ffffff;
        bottom: 400px;
        right: 15%;
        font-size: 300%;
    }
    #code{
        width:100%;
        height: auto;
        background-color: rgb(66, 64, 64);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .info{
    }
    #pizza{
        margin: 7%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #form{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .input{
        margin:4%;

    }
    .icon{
        width: 10%;
        margin: 3%;

    }
    .conduct{
        margin-top: 0;
        text-align: center;
        width: 60%;
        height: auto;
        background-color: #d8d8d8;
        color: #000;
        padding:5%;
        border: #000;
        border-radius: 10px;
  }
  .foot{
    position: relative;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center ;
    background-color: rgba(196, 173, 0, 1);
    padding: 1px;
    margin-top: 0px;
    margin-bottom:0px;
    margin-right: 0%;
    margin-left: 0%;

}

#footLogo{
    width: 50%;
    height: auto;
    margin: 1%;
    mix-blend-mode:multiply;
}
#bottomLinks{
    display: none;
    margin:1%;
    width: 5%;
    height: 5%;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    /* flex-wrap:wrap; */
    justify-content: center;
    position: relative;
}
#bottomLinks > li{
    display: none;
    flex-direction: row;
    justify-content: center;
    position:relative;
}
.footBar{
    color: rgb(0, 0, 0);
    margin: 10%;
    padding: 10%;
    border-radius:3%;

}
.modal {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    align-self: centers;
}

}

#aceModal{
    display: none;

}
#aceChase:hover{
    background-color:#ffffff ;
}
/* The Modal (background) */



#flyer{
    width: 99%;
}

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .puttclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .puttclose:hover,
  .puttclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
